<div class="space-y-2">
  <%= turbo_frame_tag "new_comment" do %>
    <%= render "comments/form", log: log, comment: (defined?(comment) && comment.present? ? comment : Comment.new) %>
  <% end %>

  <div id="<%= dom_id(log, :comments) %>" class="space-y-2">
    <%= render partial: "comments/comment",
               collection: log.comments.order(created_at: :desc),
               as: :comment %>
  </div>
</div>
