<div class="mt-3 space-y-2" id="<%= dom_id(log, :comments_section) %>">
  <%= render "comments/list", log: log %>
  <% if user_signed_in? %>
    <%= render "comments/form", log: log, comment: Comment.new %>
  <% end %>
</div>
